
<section style="flex-grow: 1;">
  <h3>{{i18n "titles.myGroups"}}</h3>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: .5rem;justify-content:center;">
    {{#each groups}}
      <a class="btn" style="overflow: hidden; text-overflow:ellipsis" href="/ui/groups/{{encodeURIComponent groupName}}">
        {{groupName}}
      </a>
    {{/each}}
    {{#unless groups.length }}
      <p>{{i18n "leads.noGroups"}}</p>
    {{/unless}}
  </div>
  {{#unless groups.length }}
    <aside class="help-block">
      <ui-icon name="info"></ui-icon>
      <div class="help-block-content">
        <p>{{{i18n "onboarding.userGroups.lead"}}}</p>
        <a href="https://ecorpus.eu/{{lang}}/doc/tutorials/permissions.html">{{i18n "onboarding.group.link"}} →</a>
      </div>
    </aside>
  {{/unless}}
</section>
