<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta name="theme-color" content="#071922">
<meta property="og:image" content="{{thumb}}">
<meta property="og:image:width" content="320">
<meta property="og:image:height" content="320">

<!-- Apple "add to home screen" meta -->
<link rel="apple-touch-icon" href="{{thumb}}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


<title>{{title}}</title>

<link rel="icon" type="image/png" href="/dist/favicon.png" sizes="32x32"/>
<link rel="shortcut icon" type="image/svg+xml" href="/dist/favicon.svg"/>
<link rel="search" type="application/opensearchdescription+xml" href="{{root_url}}services/opensearch.xml" title="{{brand}}">
{{#if embeddable }}
<link rel="alternate" type="application/json+oembed" href="{{root_url}}services/oembed?url={{encodeURIComponent canonical}}&format=json"/>
<link rel="alternate" type="text/xml+oembed" href="{{root_url}}services/oembed?url={{encodeURIComponent canonical}}&format=xml"/>
{{/if}}

<style>
  body{
    background: var(--color-background, #343434);
    font-family: var(--font-body, sans-serif);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: var(--nav-height, 44px) 0 0 0;
    margin: 0;
    display: block;
  }
</style>