<nav id="main-navbar" class="navbar-nav">
  <div class="nav-content">
    <a class="logo" href="/">
      <picture>
        <source srcset="/dist/images/logo-sm.svg" media="(max-width: 576px)"/>
        <img src="/dist/images/logo-full.svg" alt="Site Logo"/>
      </picture>
    </a>
    <div class="spacer"></div>
    <div id="main-navbar-links" popover="" class="navbar">
      {{# unless isSearchPage }}
      <form id="nav-search" class="form-control " method="get" action="/ui/scenes/">
        <div class="form-item nav-input">
          <input class="search-box-input" name="match" type="search" id="model-search" value="{{params.match}}">
          <button class="btn btn-addon">
            <ui-icon style="fill: var(--color-highlight);pointer-events: none;" name="search"></ui-icon>
          </button>
        </div>
      </form>
      {{/unless}}
      {{#navLink "/ui/tags/"}}{{i18n "nav.tags"}}{{/navLink}}
      {{#if (test (test user.level "==" "admin") "||" (test user.level "==" "manage"))}}
        {{#navLink "/ui/admin/"}}{{i18n "nav.administration"}}{{/navLink}}
      {{/if}}
      <div class="divider"></div>
      {{#if (test user "==" null)}}
        {{#navLink (join "/auth/login/?redirect=" (encodeURI location)) 'title="/auth/login/"'}}{{i18n "nav.login"}}{{/navLink}}
      {{else if user.username}}
        {{#navLink "/ui/user/" aria-label="username"}}{{user.username}}{{/navLink}}
      {{/if}}
    </div>
    <button id="main-navbar-collapse-toggle" class="btn btn-transparent text-primary"  style="padding: 0 1rem"
      type="button" popovertarget="main-navbar-links" aria-label="Toggle navigation">
      <ui-icon class="if-expanded" name="minus"></ui-icon>
      <ui-icon class="if-collapsed" name="plus"></ui-icon>
    </button>
  </div>
</nav>