<nav class="navbar-nav">
  <div class="nav-content">
    <div class="brand">
      <a class="brand" href="/">
        <picture>
          <source srcset="/dist/images/logo-sm.svg" media="(max-width: 576px)"/>
          <img src="/dist/images/logo-full.svg" alt="Site Logo"/>
        </picture>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="navbar">
      {{# unless isSearchPage }}
      <form id="nav-search" class="form-control " method="get" action="/ui/scenes/">
        <div class="form-item nav-input">
          <input class="search-box-input" name="match" type="search" id="model-search" value="{{params.match}}">
          <button class="btn btn-addon">
            <ui-icon style="fill: var(--color-highlight);pointer-events: none;" name="search"></ui-icon>
          </button>
        </div>
      </form>
      {{/unless}}
      {{#navLink "/ui/tags/"}}{{i18n "nav.tags"}}{{/navLink}}
      {{#if (test user.level "==" "admin")}}
        {{#navLink "/ui/admin/"}}{{i18n "nav.administration"}}{{/navLink}}
      {{/if}}
      <div class="divider"></div>
      {{#if (test user.level "==" "none")}}
        {{#navLink (join "/auth/login/?redirect=" (encodeURI location)) 'title="/auth/login/"'}}{{i18n "nav.login"}}{{/navLink}}
      {{else if user.username}}
        {{#navLink "/ui/user/" aria-label="username"}}{{user.username}}{{/navLink}}
      {{/if}}
    </div>
  </div>
</nav>