<div id="scene-{{id}}" class="scene-card">
  <a class="card-image" href="/ui/scenes/{{encodeURIComponent name}}" title="{{i18n "labels.view"}}">
    {{#if thumb }}
      <img src="{{thumb}}" />
    {{else}}
      <img style="background:radial-gradient(circle, #103040 0, #0b0b0b 100%);" src="/dist/images/defaultSprite.svg" />
    {{/if}}
  </a>
  <div class="scene-card-inner">
    <div class="infos">
      <a href="/ui/scenes/{{encodeURIComponent name}}" class="card-header">
        <h4 class="card-title">{{name}}</h4>
        <sup class="card-title-sup"><ui-icon name="info"></ui-icon></sup>
      </a>
      <span class="card-time">{{#if mtime}}{{dateString mtime}}{{/if}}</span>
    </div>
    <div class="tools">
      {{!if a scene is shown, the user must have read access}}
      {{#if (test scene.type "==" "voyager")}}
        <a class="btn btn-main" href="/ui/scenes/{{encodeURIComponent name}}/view" title="{{i18n "leads.showScene"}}">
          <ui-icon name="eye"></ui-icon>
          <span class="tool-text">{{i18n "labels.view"}}</span>
        </a>
      {{else if (test scene.type "==" "html")}}
        <a class="btn btn-main" href="/scenes/{{encodeURIComponent name}}/index.html" title="{{i18n "leads.showScene"}}">
          <ui-icon name="eye"></ui-icon>
          <span class="tool-text">{{i18n "labels.view"}}</span>
        </a>
      {{/if}}        
      {{#unless (test (test access "==" "read") "||" (test type "!=" "voyager"))}}
        <a class="tool-link" href="/ui/scenes/{{encodeURIComponent name}}/edit" title="{{i18n "leads.editScene"}}">
          <ui-icon name="edit"></ui-icon>
          <span class="tool-text">{{i18n "labels.edit"}}</span>
        </a>
      {{/unless}}
    </div>
  </div>
  {{#if select_form }}
  <input type="checkbox" form="{{select_form}}" name="id" value="{{id}}" style="position: absolute; top: 2px; left: 2px">
  {{/if}}
</div>