<div class="error-main">
  {{#with error}}
    <h1 class="error-title">Error :{{code}}</h1>

    <p class="message">{{message}}</p>

    <pre class="stack"><code>{{#if reason}}{{reason}}{{else}}{{stack}}{{/if}}</code></pre>

  {{/with}}
</div>
<style>
  .error-main{
    color:var(--color-light);
    margin: auto;
    max-width:1200px;
    min-height: 60vh;

    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .error-main .error-title{
    color:var(--color-primary);
  }
  .error-main .message{
    font-weight: bold;
    color: var(--color-light);
  }
  .error-main .stack{
    background:var(--color-medium);
    max-width:82ch;
    padding: 1ch;
    overflow: auto;
  }
</style>
<script async src="/dist/js/corpus.js"></script>