<h2>{{name}}</h2>
<div class="two-columns">
  <div class="section"
    style="display: flex; flex-direction: column; flex-wrap: wrap; gap: .5rem;justify-content:begin;">
    <h3>{{i18n "labels.groupMembers"}}</h3>

    {{#if manageAccess}}
    <submit-fragment class="form-control" id="new-member-form" submit="members" method="PUT" action="/groups/{{name}}"
      encoding="application/json" class="row">
      <form onsubmit="
          const action_url = '/groups/{{name}}/' + encodeURIComponent(document.getElementById('new-member').value);
          const form = document.getElementById('new-member-form');
          form.action = action_url;
          window.location.reload()">
        <label class="form-item">
          <input id="new-member" type="text" value="" placeholder="{{i18n "labels.username"}}" />
          <button type="submit" class="btn btn-main btn-addon"><ui-icon name="plus"></ui-icon></button>
        </label>
      </form>
    </submit-fragment>
    {{/if}}
    <table class="list-table">
      <thead>
        <tr>
          <th>{{i18n "labels.username"}}</th>
          {{#if manageAccess}}<th></th> {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each members}}
        <tr aria-labelledby="user-row-{{uid}}">
          <td>{{this}}</td>
          {{#if @root.manageAccess}}
          <td>
            <submit-fragment method="DELETE" action="/groups/{{@root.name}}/{{this}}" encoding="application/json"
              onsubmit="window.location.reload()">
              <form>
                <button role="submit" class="btn btn-inline btn-icon btn-danger" aria-label="{{i18n "labels.delete"}}">
                  <ui-icon name="trash"></ui-icon>
                </button>
              </form>
            </submit-fragment>
          </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="section"
    style="display: flex; flex-direction: column; flex-wrap: wrap; gap: .5rem;justify-content:begin;">
    <h3>
      {{i18n "titles.permissions"}}
    </h3>
    {{#if manageAccess}}
    <submit-fragment class="form-control" id="scene_submit_fragment" style="display:flex;flex-direction: row-reverse;"
      submit="access" method="PATCH" action="" encoding="application/json" onsubmit="window.location.reload()">
      <form class="form-group" style="flex-grow: 1;" autocomplete="off" onsubmit="
            const action_url = '/auth/access/' + encodeURIComponent(document.getElementById('sceneName').value);
            const form = document.getElementById('scene_submit_fragment');
            form.action = action_url;">
        <div class="form-item, row">
          <input type="hidden" name="groupName" value="{{name}}" />
          <input id="sceneName" name="sceneName" placeholder="{{i18n "labels.scene"}}" />
          <select name="access" aria-label="{{i18n "labels.permission"}}">
            <option disabled selected value> -- select an option -- </option>
            {{> inputs/option selected=false value="none" text=(i18n "fields.removeSpecificAccess")}}
            {{> inputs/option selected=false value="read" text=(i18n "fields.read")}}
            {{> inputs/option selected=false value="write" text=(i18n "fields.write")}}
            {{> inputs/option selected=false value="admin" text=(i18n "fields.admin")}}
          </select>
        </div>
      </form>
      <progress slot="loader" style="position:absolute; inset: 0;backdrop-filter: blur(5px)">request in
        progress</progress>
    </submit-fragment>
    {{/if}}

    <table class="list-table form-control">
      <thead>
        <tr>
          <th>{{i18n "labels.scene"}}</th>
          <th>
            {{i18n "labels.rights"}}
            {{!-- {{#> popover id="permissions-tooltip" }}{{i18n "tooltips.permissions"}}{{/popover}} --}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each scenes}}
        <tr>
          <td title="{{i18n "labels.scene"}}"><a href="/ui/scenes/{{encodeURIComponent scene}}"><h4 style="margin:0">{{scene}}</h4></a></td>
          {{#if @root.manageAccess}}
          <td class="form-control">
            <submit-fragment style="display:flex;flex-direction: row-reverse;" submit="access" method="PATCH"
              action="/auth/access/{{encodeURIComponent scene}}" encoding="application/json"
              onsubmit="window.location.reload()">
              <form class="form-item" style="flex-grow: 1;" autocomplete="off">
                <input type="hidden" name="groupName" value="{{@root.name}}" />
                <select name="access" aria-label="{{i18n "labels.permission"}}">
                  {{> inputs/option selected=(test "none" "in" access) value="none" text=(i18n
                  "fields.removeSpecificAccess")}}
                  {{> inputs/option selected=(test "read" "in" access) value="read" text=(i18n "fields.read")}}
                  {{> inputs/option selected=(test "write" "in" access) value="write" text=(i18n "fields.write")}}
                  {{> inputs/option selected=(test "admin" "in" access) value="admin" text=(i18n "fields.admin")}}
                </select>
              </form>
              <progress slot="loader" style="position:absolute; inset: 0;backdrop-filter: blur(5px)">request in
                progress</progress>
            </submit-fragment>
          </td>
          {{else}}
          <td class="text-main">{{i18n (join "fields." access) access}} </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{#if (test @root.user.level "==" "admin")}}
<div class="section"> {{i18n labels.deletingAGroupIsPermanent}}
    <submit-fragment method="DELETE" action="/groups/{{encodeURIComponent name}}"
          encoding="application/json" onsubmit="window.location.href='/ui/groups'">
          <form>
            <button role="submit" id="btn-deleteGroup" class="btn">
              <ui-icon name="trash"></ui-icon>
              {{i18n "buttons.delete"}}
            </button>
          </form>
        </submit-fragment>
</div>
{{/if}}
