
<h1>{{i18n "titles.history"}}</h1>
<div class="section">
  <h2><a href="/ui/scenes/{{encodeURIComponent name}}">{{name}}</a></h2>
  <p>{{{i18n "leads.historyEdition"}}}</p>
  <scene-history name="{{encodeURIComponent name}}"></scene-history>
</div>