
<h1>{{i18n "titles.history"}}</h1>
<div class="section">
  <a href="/ui/scenes/{{encodeURIComponent name}}"><h2>{{name}}</h2></a>
  <p>{{{i18n "leads.historyEdition"}}}</p>
  <scene-history name="{{encodeURIComponent name}}"></scene-history>
</div>