<h1 class="grid-header">{{#if brand}}{{brand}}{{else}}eCorpus{{/if}}</h1>

<div class="grid-toolbar">
  <nav>
    <a class="btn btn-primary btn-outline" href="/ui/upload/">
        <ui-icon name="plus"></ui-icon>
        {{i18n "buttons.uploadScene"}}
    </a>
    <a class="btn btn-primary btn-transparent" href="/ui/scenes/">{{i18n "buttons.searchScene"}}</a>
    <a class="btn btn-primary btn-transparent" href="/ui/standalone/?lang={{lang}}">{{i18n "buttons.useStandalone"}}</a>
  </nav>
  {{#if recentChanges.length }}
    <nav>
      <h3>{{i18n "titles.mtimeScenesSection" }}</h3>
      {{#each recentChanges }}
        <a class="nav-link" href="/ui/scenes/{{encodeURIComponent name}}/">
          <span style="flex: 0 1 auto;overflow: hidden;text-overflow: ellipsis" title="{{dateString mtime}}">{{name}}</span>
        </a>
      {{/each}}
    </nav>
  {{/if}}
</div>

<div class="grid-content">
  <section>
    <h3>{{i18n "titles.myScenesSection"}}</h3>
    {{#if userScenes.length}}
    <div class="list-grid" style="position:relative; margin-top:20px">
      {{#each userScenes}}
        {{> sceneCard }}
      {{/each}}
    </div>
    {{else}}
      <p>{{i18n "leads.noScenes"}}</p>
      <div style="display:flex; justify-content: space-evenly">
        <a class="btn btn-main" href="/ui/scenes/">{{i18n "buttons.searchScene"}}</a>
        <a class="btn btn-main" href="/ui/upload/">{{i18n "buttons.uploadScene"}}</a>
      </div>
    {{/if}}
  </section>
  <section>
      <h3>{{i18n "titles.ctimeScenesSection"}}</h3>
      <div class="list-grid" style="position:relative;">
        {{#each recentScenes }}
          {{> sceneCard }}
        {{/each}}
      </div>
  </section>

</div>