<div class="landing-page">
  <div class="illustration">
    <img src="/dist/images/sketch_ethesaurus.png"
      alt="dessin représentant l'application voyager et son utilisation dans une borne holographique" />
    <p id="app-lead">{{ i18n "leads.appLead" }}</p>
    <p style="text-align:right">
      <a href="/ui/standalone/?lang={{lang}}">{{ i18n "buttons.useStandalone" }}</a>
    </p>
  </div>

  <div class="user-login">
    <div class="tabs tabs-reverse">
      <div class="tab" id="login">
        <h2>{{ i18n "nav.login" }}</h2>

        <form id="userlogin" class="form-control form-modal" name="{{i18n "labels.signin"}}" method="POST"
          action="/auth/login?redirect={{#if redirect}}{{encodeURI redirect}}{{else}}{{encodeURI location}}{{/if}}"
          enctype="application/x-www-form-urlencoded"
          autocomplete="on" autocapitalize="none"
        >
          <div class="form-group">
            <div class="form-item">
              <input type="text" autocomplete="username" name="username" id="username" required="" placeholder="{{i18n "labels.username"}}">
              <label for="username">{{i18n "labels.username"}}</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item">
              <input type="password" autocomplete="current-password" name="password" id="password" required=""
                placeholder="{{i18n "labels.password"}}">
              <label for="password">{{i18n "labels.password"}}</label>
              <button id="password-toggle" type="button" aria-checked="false" role="switch" style="display:none" class="btn btn-transparent btn-addon" title="{{i18n "tooltips.showPassword"}}"><ui-icon name="eye"></ui-icon></button>
              <script>
                (function registerPasswordVisibilityToggle(){
                  const btn = document.querySelector("#password-toggle");
                  if(!btn) return console.warn("Password toggle button not found");
                  btn.onclick = function togglePasswordVisibility(e){
                    e.preventDefault();
                    const checked = btn.ariaChecked != "true";
                    const input = document.querySelector(`input[name="password"]`);
                    if(!input ) return console.warn(`Password input not found`);
                    input.type = checked? "text" : "password";
                    btn.ariaChecked = checked.toString();
                  }
                  btn.style.removeProperty("display");             
                })();
              </script>
            </div>
          </div>

          <div id="login-form-error">
            {{#if error}}
            <span class="text-error" role="alert">{{i18n (join "errors" error separator=".")}}</span>
            {{/if}}
          </div>

          <div class="form-group">
            <div class="form-item">
              <input type="submit" value="{{ i18n "labels.signin" }}">
            </div>
          </div>
        </form>

        <div style="text-align:right;">
          <a style="cursor:pointer;" href="#passwordRecovery">{{ i18n "labels.forgottenPassword" }}</a>
        </div>
      </div>
      <div class="tab" id="passwordRecovery">
        <h2>{{ i18n "titles.recoverPassword" }}</h2>
        <form id="userrecover" class="form-control form-modal" name="{{i18n "labels.forgottenPassword"}}"
          autocomplete="on" 
        >
          <p>{{i18n "leads.passwordRecovery"}}</p>
          <div class="form-group">
            <div class="form-item">
              <input type="text" minlength="3" name="username" id="recover-username" required placeholder="{{i18n "labels.username"}}">
              <label for="recover-username">{{i18n "labels.username"}}</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-item">
              <input type="submit" value="{{ i18n "labels.sendLoginLink" }}">
            </div>
          </div>
        </form> 
        <div style="text-align:right;">
          <a style="cursor:pointer;" href="#login">{{ i18n "labels.signin" }}</a>
        </div>
        <script>
          (function registerPasswordRecoveryForm(){
            const form = document.querySelector("#userrecover");
            if(!form) return console.warn("Can't find password recovery form");
            form.onsubmit = (ev)=>{
              ev.preventDefault();

              const username = form.username?.value;
              if(!username) return false;

              const loader = document.createElement("spin-loader");
              loader.active = true;
              const parent =  form.parentNode;
              parent.replaceChild(loader, form);
              fetch(`/auth/login/${encodeURIComponent(username)}/link`,{
                method: "POST",
                headers: {"Accept": "application/json"}
              }).then(async r=>{
                if(!r.ok){
                  let text = await r.text();
                  try{
                    let json = JSON.parse(text);
                    throw new Error(json.message ?? json);
                  }catch(e){
                    throw new Error(text);
                  }
                }
                const result = document.createElement("p");
                result.role = "alert";
                result.innerText = `{{i18n "leads.linkSent"}}`;
                parent.replaceChild(result, loader);
              }).catch(e=>{
                console.warn("Failed to send recovery email: ", e);
                const result = document.createElement("p");
                result.className = "text-error";
                result.role = "alert";
                result.innerText = e.message;
                parent.replaceChild(result, loader);
                parent.insertBefore(form, result);
              });
              return false;
            }
          })()
        </script>

      </div>
    </div>

  </div>
</div>