
<h1>{{scene.name}}</h1>

<div class="main-grid">

  {{#unless scene.archived }}
    <div class="grid-header tabs">
      <div id="show-tags" class="tab">
        <div class="tags-list">
          {{#each scene.tags}}
              <a class="btn btn-main btn-small" href="/ui/tags/{{.}}">{{.}}</a>
          {{/each}}
          {{#if (test access "==" "admin")}}
            <span style="flex-grow: 1; text-align:right; margin-right: 1rem">
              <a href="#edit-tags" >{{i18n "buttons.editTags"}}</a>
            </span>
          {{/if}}
        </div>
      </div>

      {{#if (test access "==" "admin")}}
        <div id="edit-tags" class="tab">
          <submit-fragment submit="tags" method="PATCH" action="/scenes/{{encodeURIComponent scene.name}}" encoding="application/json" onsubmit="window.location.reload()">
            <form autocomplete="off" class="form-control tags-list">
              {{#each scene.tags}}
                <a href="/ui/tags/{{.}}" class="btn btn-main btn-small" style="gap: 1rem;">
                  {{> inputs/checkbox name="tags" selected=true value=. aria-label=. }}
                  <span>{{.}}</label>
                </a>
              {{/each}}
              <label class="form-item add-tag">
                <input id="new-tag" name="tags" list="tagSuggestions" type="text" value="" placeholder="{{i18n "fields.tag"}}" onchange=""/>
                <button type="submit" class="btn btn-main btn-addon"><ui-icon name="plus"></ui-icon></button>
                <datalist id="tagSuggestions">
                  {{#each tagSuggestions }}
                    <option value="{{.}}"/>
                  {{/each}}
                </datalist>
                {{!This input _has_ to have the same name as the others but we want to prevent its change event from bubbling}}
                <script type="module">
                  (()=>{
                    const input = document.querySelector("#new-tag");
                    if(!input) return console.warn("no new tag input found in this document");
                    input.addEventListener("change", (e)=>e.stopPropagation());
                  })();
                </script>
              </label>
              <span style="flex-grow: 1; text-align:right; margin-right: 1rem">
                <a href="#show-tags" >{{i18n "buttons.showTags"}}</a>
              </span>
            </form>
          </submit-fragment>
        </div>
      {{/if}}
    </div>
      {{/unless}}

  <div class="grid-toolbar">

    <section class="section-column">
      <div class="col flush">
        {{#if scene.thumb }}
          <img aria-label="{{i18n "titles.sceneThumb" what=scene.name }}" src="{{scene.thumb}}" alt="{{i18n "leads.thumbnailFor" what=scene.name }}"/>
        {{else}}
          <img style="background:radial-gradient(circle, #103040 0, #0b0b0b 100%);" src="/dist/images/defaultSprite.svg" />
        {{/if}}
      </div>
      <div class="col" style="display:flex;flex-direction: column; gap: 10px; align-items: stretch;">
        {{#unless scene.archived }}
          {{#unless (test access "==" "read")}}
            <a class="btn btn-main" href="/ui/scenes/{{encodeURIComponent scene.name}}/edit" title="{{i18n "leads.showScene"}}">
              <ui-icon name="edit"></ui-icon> {{i18n "labels.edit"}}
            </a>
          {{/unless}}
          <a class="btn btn-main" href="/ui/scenes/{{encodeURIComponent scene.name}}/view" title="{{i18n "leads.showScene"}}">
            <ui-icon name="eye"></ui-icon>
            <span class="tool-text">{{i18n "labels.view"}}</span>
          </a>
          <a class="btn btn-main" download="{{scene.name}}.zip"
            href="/scenes/{{encodeURIComponent scene.name}}?format=zip">
            <ui-icon name="save"></ui-icon>
            <span class="tool-text">{{i18n "buttons.download"}}</span>
          </a>

          {{#if (test access "==" "admin") }}
            <a href="/ui/scenes/{{encodeURIComponent scene.name }}/history" class="btn btn-main">
              <ui-icon name="hierarchy"></ui-icon>
              {{i18n "buttons.history"}}
            </a>
          {{/if}}
        {{/unless}}
      </div>

    </section>

  </div>
  
  <div class="grid-content">
    
    <section>
      {{#if meta.title }}
        <h2>{{meta.title}}</h2>
      {{/if}}
      <div  class="section-column">

        <div class="col" style="display:flex; flex-direction: column;">
          <h3>{{i18n "titles.sceneData"}}</h3>
          <div id="scene-meta-main" style="flex-grow: 1">
            {{#with meta}}
              {{#if setup }}
                  <p>
                    {{i18n "labels.localization" count=languages.length }}:
                    {{#each languages}}
                      {{#if (test @index "!=" 0)}},{{/if}}
                      <a href="/ui/scenes/{{encodeURIComponent @root.scene.name}}/view?lang={{.}}" {{#if (test . "==" ../setup)}}class="text-success" title="{{i18n "labels.setupLocalization"}}"{{/if}}>{{.}}</a>
                    {{/each}}
                  </p>
                  <p>{{intro}}</p>
                  <p>{{i18n "leads.sceneCounts" articles=articles.length annotations=annotations.length }}</p>
              {{else}}
                {{i18n "leads.noMetaAvailable"}}
              {{/if}}
            {{/with}}
          </div>
        </div>

        <div class="col" id="scene-permissions-container">
          <h3>
            {{i18n "titles.permissions"}}
          </h3>
          <table  class="list-table compact form-control" >
            <thead>
              <tr>
                <th>{{i18n "labels.username"}}</th>
                <th>
                  {{i18n "labels.rights"}}
                  {{#> popover id="permissions-tooltip" }}{{i18n "tooltips.permissions"}}{{/popover}}
                </th>
              </tr>
            </thead>
            <tbody>
              {{#*inline "showName"}}
                {{#if (test username "==" "default" )}}
                  {{i18n "labels.defaultUser"}}
                {{else if (test username "==" "any")}}
                  {{i18n "labels.anyUser"}}
                {{else}}
                  {{username}}
                {{/if}}
              {{/inline}}

              {{#each permissions}}
                <tr>
                  {{#if  (test access "!=" "admin") }}
                    <td class="text-main" title="{{i18n "labels.username"}}">{{> showName}}</td>
                    <td class="text-main" >{{access}}</td>
                  {{else if (test (test username "==" @root.user.username) "&&" (test "!" @root.user.isAdministrator ))}}
                    <td class="text-primary" title="{{i18n "labels.username"}}">{{> showName}}</td>
                    <td class="text-muted" title="{{i18n "leads.canNotChangeSelfAccess"}}">{{access}}</td>
                  {{else }}
                    <td title="{{i18n "labels.username"}}">{{> showName}}</td>
                    <td class="form-control">
                      <submit-fragment style="display:flex;flex-direction: row-reverse;" submit="access" method="PATCH" action="/auth/access/{{encodeURIComponent @root.scene.name}}"  encoding="application/json">
                        <form class="form-item" style="flex-grow: 1;" autocomplete="off">
                          <input type="hidden" name="username" value="{{username}}"/>
                          <select name="access" aria-label="{{i18n "labels.permission"}}">
                            {{> inputs/option selected=(test "none" "in" access) value="none" text=(i18n "fields.none")}}
                            {{> inputs/option selected=(test "read" "in" access) value="read" text=(i18n "fields.read")}}
                            {{> inputs/option selected=(test "write" "in" access) value="write" text=(i18n "fields.write")}}
                            {{#unless (test username "==" "default")}}
                              {{> inputs/option selected=(test "admin" "in" access) value="admin" text=(i18n "fields.admin")}}
                            {{/unless}}
                          </select>
                        </form>
                        <progress slot="loader" style="position:absolute; inset: 0;backdrop-filter: blur(5px)">request in progress</progress>
                      </submit-fragment>
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{#if  (test access "==" "admin")}}
            <submit-fragment style="width:100%;margin-top: 1rem;" method="PATCH" action="/auth/access/{{encodeURIComponent @root.scene.name}}"  encoding="application/json" onsubmit="window.location.reload()">
              <form id="addUserRights" class="form-control" style="padding:0;flex-grow: 1" autocomplete="off" name="">
                <div class="form-group" style="padding:0;border:none;">
                  <input type="hidden" name="access" value="read"/>
                  <div class="form-item" style="display:flex; flex-grow: 1;">
                    <input style="border:none;width:100%;" type="text" name="username" id="username" placeholder="{{i18n "labels.username"}}" required>
                    <button class="btn btn-addon btn-main" style="margin-top:0" type="submit">
                      <ui-icon name="plus"></ui-icon>
                    </button>
                  </div>
                </div>
              </form>
              <progress slot="loader" style="position:absolute; inset: 0;backdrop-filter: blur(5px)">request in progress</progress>
            </submit-fragment>
          {{/if}}
        </div>
      </div>
    </section>
    {{#if (test access "==" "admin")}}
      <section>

        {{#if scene.archived }}
          <p >
            {{i18n "leads.archiveRestore"}}
          </p>
          <submit-fragment id="submit-restore" method="PATCH" encoding="application/json"  action="/scenes/{{encodeURIComponent scene.name}}">
            <form class="form-control" style="padding: 0 0 10px 0;display:flex;justify-content:end;align-items: stetch;">
              <input type="hidden" name="archived" value="false"/>
              <input id="scene-name-input" type="text" name="name" style="flex-grow: 1;background: var(--color-element);" value=""/>
              <button role="submit" id="btn-unarchiveScene" class="btn">
                <ui-icon name="restore"></ui-icon>
                {{i18n "labels.restore"}}
              </button>
            </form>
          </submit-fragment>
          <script type="module">
            (()=>{
              const nameInput = document.querySelector("#scene-name-input");
              if(!nameInput) return console.warn("Can't find name input element");
              nameInput.value = "{{scene.name}}".replace("#{{scene.id}}", "");

              const formSubmit = document.querySelector("#submit-restore");
              if(!formSubmit) return console.warn("Can't find form-submission element");
              formSubmit.addEventListener("submit", ()=>{
                window.location.href = `/ui/scenes/${encodeURIComponent(nameInput.value)}`;
              });
            })();
            onsubmit="window.location.href= new URL('/ui/scenes/{{encodeURIComponent scene.name}}').pathname"

          </script>
        {{else}}
          <p >
            {{i18n "leads.archiveDelete"}}
          </p>
          <div style="padding: 0 0 10px 0;display:flex;justify-content:end;gap:10px;">

            <dialog id="rename-scene" style="max-width:400px" onmousedown="event.target==this && this.close()">
              <submit-fragment id="rename-scene-submit" method="PATCH" action="/scenes/{{encodeURIComponent scene.name}}" encoding="application/json">
                <h3>{{i18n "titles.rename"}}</h3>
                <p>{{i18n "leads.rename"}}</p>
                <form class="form-control">
                  <div class="form-group">
                    <label class="form-item">
                      {{i18n "fields.name"}}
                      <input id="scenename" type="text" name="name" required minlength="3" value="" placeholder="{{scene.name}}" />
                    </label>
                  </div>
                  <div class="form-group" style="display:flex;justify-content:end; gap: 10px">
                    <button class="btn" type="reset" onclick="this.closest('dialog').close()">{{i18n "buttons.cancel"}}</button>
                    <button type="submit" id="btn-renameScene" class="btn btn-main">
                      <ui-icon name="edit"></ui-icon>
                      {{i18n "buttons.rename"}}
                    </button>
                  </div>
                </form>
              </submit-fragment>
              <script type="module">
                (()=>{
                  const submitFragment = document.querySelector("#rename-scene-submit");
                  if(!submitFragment) return console.warn("Can't find fragment to submit scene rename form");
                  submitFragment.addEventListener("submit", ({detail})=>{
                    let name = detail.get("name");
                    if(!name) return alert("Badly formatted form : no name could be found");
                    window.location.replace(`/ui/scenes/${encodeURIComponent(name)}`);
                  });
                })();
              </script>
            </dialog>
            <button class="btn" onclick="document.querySelector('#rename-scene').showModal()">
              <ui-icon name="edit"></ui-icon>
              {{i18n "buttons.rename"}}
            </button>

            <submit-fragment method="DELETE" action="/scenes/{{encodeURIComponent scene.name}}?archive=true" encoding="application/json"  onsubmit="window.location.href='/ui/scenes/{{encodeURIComponent (join scene.name "#" scene.id)}}'">
              <form>
                <button role="submit" id="btn-archiveScene" class="btn">
                  <ui-icon name="trash"></ui-icon>
                  {{i18n "buttons.archive"}}
                </button>
              </form>
            </submit-fragment>
          </div>
        {{/if}}
      </section>
    {{/if}}
  </div>

</div>
