<div class="main-grid">
  <div class="grid-header form-control">
    <div class="form-item" style="display:flex; margin-bottom:10px; flex-grow: 1">
      <input class="search-box-input" type="search" name="match" form="search" id="model-search" aria-label="{{i18n "titles.search"}}" placeholder="{{i18n "labels.searchPlaceholder"}}"
        value="{{params.match}}">
      <button class="btn btn-addon btn-main" style="margin-top:0" form="search" type="submit" aria-label="{{i18n "buttons.searchScene"}}"><ui-icon
          name="search"></ui-icon></button>
    </div>
    
    <div class="form-group inline" style="margin-left:auto; padding:10px">
      <label class="form-item">
        {{i18n "labels.sortBy"}}
        <select name="orderBy" autocomplete="off" style="width:auto" form="search">
          {{>inputs/option selected=(test params.orderBy "==" "mtime") value="mtime" text=(i18n "fields.mtime")}}
          {{>inputs/option selected=(test params.orderBy "==" "ctime") value="ctime" text=(i18n "fields.ctime")}}
          {{>inputs/option selected=(test params.orderBy "==" "name") value="name" text=(i18n "fields.name")}}
          {{>inputs/option selected=(test params.orderBy "==" "rank") value="rank" text=(i18n "fields.rank")}}
        </select>
      </label>
      <fieldset class="form-item" style="padding-left: .5rem; font-weight: bold;">
        <input type="radio" form="search" name="orderDirection" hidden value="asc" id="order-asc" {{# if (test params.orderDirection "==" "asc")}}checked{{/if}}/>
        <label for="order-asc" title="{{i18n "fields.ascendingOrder"}}" aria-label="ascending">⇈</label>
        <input type="radio" form="search" name="orderDirection" hidden value="desc" id="order-desc" {{# if (test params.orderDirection "==" "desc")}}checked{{/if}}/>
        <label for="order-desc" title="{{i18n "fields.descendingOrder"}}" aria-label="descending">⇊</label>
      </fieldset>
    </div>
  </div>

  <div class="grid-toolbar">
    <div style="position: sticky; top: calc(var(--nav-height) + 1rem)">
      <section>
        <form autocomplete="off" id="search" class="form-control column" method="GET" action="/ui/scenes">
          <div style="display:flex;justify-content:space-between;">
            <h3 style="margin-top: 0">{{i18n "titles.search"}}</h3>
          </div>
  
          {{!-- <h5 class="form-section">{{i18n "fields.myScenesOnly"}}</h5> --}}
  
          <label class="form-item form-checkbox">
            <input  name="author" class="form-checkbox" type="checkbox" {{#if (test params.author "==" user.username)}} checked {{/if}} value={{user.username}}>
            <span>{{i18n "fields.showOnlyMyScenes"}}</span>
          </label>
  
          <label class="form-item">{{i18n "fields.myAccess"}}
          <select name="access" autocomplete="off" style="width:auto" form="search">
            {{#if (test user.level "==" "admin")}}
            {{>inputs/option selected=(test params.access "==" "") text="..."}}
            
            {{/if}}
            {{>inputs/option selected=(test params.access "==" "read") value="read" text=(i18n "fields.read")}}
            {{>inputs/option selected=(test params.access "==" "write") value="write" text=(i18n "fields.write")}}
            {{>inputs/option selected=(test params.access "==" "admin") value="admin" text=(i18n "fields.admin")}}
          </select>
          </label>
         
          <label class="form-item">
            {{i18n "fields.limit"}}
            <input type="number" name="limit" min="1" max="100" value="{{params.limit}}">
          </label>
        </form>
        <script async>
          (function registerFormAutoSubmit(){
            function onChange(){
              this.form?.submit();
            }
            ["limit", "access", "orderBy", "orderDirection", "author"].forEach(sel=>{
              const els = document.querySelectorAll(`input[name="${sel}"],select[name="${sel}"]`);
              for (const el of els){
                if(!el) return console.warn(`Couldn't find selector matching 'input[name="${sel}"],select[name="${sel}"]'`);
                el.addEventListener("change", onChange);
              }
            });
          })()
        </script>
      </section>
  
      <scene-selection class="section" style="">
        <h3 >{{i18n "titles.tools"}}</h3>
        <form class="form-control" id="scene-selection" >
          <div class="form-group column">
            <a class="btn btn-main btn-icon" download href="/scenes?limit=0&format=zip" id="selection-download" disabled>
              {{i18n "buttons.downloadSelection"}}
            </a>
            <button id="selection-selectAll" class="btn btn-main btn-icon">
              {{i18n "buttons.selectAll"}}
            </button>
            <button type="reset" id="selection-deselectAll" class="btn btn-main btn-icon">
              {{i18n "buttons.deselectAll"}}
            </button>
            <div class="row">
              <input id="tag-name" name="tags" list="tagSuggestions" type="text" value="" placeholder="{{i18n "fields.tag"}}" onchange="" style="max-width: calc(100% - 90px)"/>
              <button id="add-tag" type="button" class="btn btn-main btn-addon" style="min-width:40px;"><ui-icon name="plus"></ui-icon></button>
              <button id="remove-tag" type="button" class="btn btn-main btn-addon" style="min-width:40px"><ui-icon name="minus"></ui-icon></button>
              <datalist id="tagSuggestions">
                {{#each tagSuggestions }}
                <option value="{{.}}" />
                {{/each}}
              </datalist>
            </div>
          </div>
        </form>
      </scene-selection>
    </div>
  </div>

  <div class="grid-content list-items section" style="width:100%">

    {{#each scenes}}
      {{>sceneCard select_form="scene-selection" }}
    {{/each}}
    {{#with pager }}
    {{> pager }}
    {{/with}}
  </div>
</div>