<div class="main-grid">
  <div class="grid-header form-control">
    <div class="form-item" style="display:flex; margin-bottom:10px; flex-grow: 1">
      <input class="search-box-input" type="search" name="match" form="search" id="model-search" aria-label="{{i18n "titles.search"}}" placeholder="{{i18n "labels.searchPlaceholder"}}"
        value="{{params.match}}">
      <button class="btn btn-addon btn-main" style="margin-top:0" form="search" type="submit" aria-label="{{i18n "buttons.searchScene"}}"><ui-icon
          name="search"></ui-icon></button>
    </div>
    
    <div class="form-group inline" style="margin-left:auto; padding:10px">
      <label class="form-item">
        {{i18n "labels.sortBy"}}
        <select name="orderBy" autocomplete="off" style="width:auto" form="search">
          {{>inputs/option selected=params.orderBy value="mtime" text=(i18n "fields.mtime")}}
          {{>inputs/option selected=params.orderBy value="ctime" text=(i18n "fields.ctime")}}
          {{>inputs/option selected=params.orderBy value="name" text=(i18n "fields.name")}}
        </select>
      </label>
      <fieldset class="form-item" style="padding-left: .5rem; font-weight: bold;">
        <input type="radio" form="search" name="orderDirection" hidden value="asc" id="order-asc" {{# if (test params.orderDirection "==" "asc")}}checked{{/if}}/>
        <label for="order-asc" title="{{i18n "fields.ascendingOrder"}}" aria-label="ascending">⇈</label>
        <input type="radio" form="search" name="orderDirection" hidden value="desc" id="order-desc" {{# if (test params.orderDirection "==" "desc")}}checked{{/if}}/>
        <label for="order-desc" title="{{i18n "fields.descendingOrder"}}" aria-label="descending">⇊</label>
      </fieldset>
    </div>
  </div>

  <div class="grid-toolbar">
    <scene-selection class="section" style="display: none">
      <h3 >{{i18n "titles.tools"}}</h3>
      <form class="form-control" id="scene-selection" >
        <div class="form-group column">
          <a class="btn btn-main btn-icon" download href="/scenes?limit=0&format=zip" id="selection-download">
            {{i18n "buttons.downloadSelection"}}
          </a>
          <button id="selection-selectAll" class="btn btn-main btn-icon">
            {{i18n "buttons.selectAll"}}
          </button>
          <button type="reset" id="selection-deselectAll" class="btn btn-main btn-icon">
            {{i18n "buttons.deselectAll"}}
          </button>
        </div>
      </form>

    </scene-selection>
    <section style="position: sticky; top: calc(var(--nav-height) + 1rem)">
      <form autocomplete="off" id="search" class="form-control" method="GET" action="/ui/scenes">
        <div style="display:flex;justify-content:space-between;">
          <h3 style="margin-top: 0">{{i18n "titles.search"}}</h3>
          <button class="btn btn-transparent btn-inline btn-changed" aria-label="{{i18n "buttons.searchScene"}}" type="submit"><ui-icon name="search"></ui-icon></button>
        </div>
        <h5 class="form-section">{{i18n "fields.access"}}</h5>
        <label class="form-item inline">
          {{> inputs/checkbox name="access" value="read" selected=(test "read" "in" params.access) }}
          {{i18n "fields.read"}}
        </label>
        <label class="form-item inline">
          {{>inputs/checkbox name="access" value="write" selected=(test "write" "in" params.access) }}
          {{i18n "fields.write"}}
        </label>
        <label class="form-item inline">
          {{>inputs/checkbox name="access" value="admin" selected=(test "admin" "in" params.access) }}
          {{i18n "fields.admin"}}
        </label>
        <h5 class="form-section">{{i18n "labels.pagination"}}</h5>
        <label class="form-item">
          {{i18n "fields.limit"}}
          <input type="number" name="limit" min="1" max="100" value="{{params.limit}}">
        </label>
      </form>
      <script async>
        (function registerFormAutoSubmit(){
          function onChange(){
            this.form?.submit();
          }
          ["limit", "access", "orderBy", "orderDirection"].forEach(sel=>{
            const els = document.querySelectorAll(`input[name="${sel}"],select[name="${sel}"]`);
            for (const el of els){
              if(!el) return console.warn(`Couldn't find selector matching 'input[name="${sel}"],select[name="${sel}"]'`);
              el.addEventListener("change", onChange);
            }
          });
        })()
      </script>
    </section>
  </div>

  <div class="grid-content list-items section" style="width:100%">

    {{#each scenes}}
      {{>sceneCard select_form="scene-selection" }}
    {{/each}}
    <div style="display:flex; justify-content: space-between;margin-top: 1rem;">
      {{#if pager.previous}}
        <a class="btn btn-main" id="search-previous" href="{{pager.previous}}">{{i18n "buttons.previous"}}</a>
      {{else}}
        <div style="width:100px;"><!--placeholder--></div>
      {{/if}}
      <div>
        {{#if scenes.length}}
          {{pager.from}}-{{pager.to}}
        {{else}}
          {{i18n "leads.noResults"}}
        {{/if}}
      </div>
      {{#if pager.next }}
        <a class="btn btn-main"id="search-next" href="{{pager.next}}">{{i18n "buttons.next"}}</a>
      {{else}}
        <div style="width:100px;"><!--placeholder--></div>
      {{/if}}

    </div>
  </div>
</div>