
  <h1>{{#if brand}}{{brand}}{{else}}eCorpus{{/if}}: {{i18n "titles.upload"}}</h1>
<div class="grid-content">
  
  {{#if scenes.length }}
    <section class="container" aria-labelledby="createdScenes-heading">
      <h3 id="createdScenes-heading">{{i18n "titles.createdScenes" }}</h3>
      <a href="." class="text-error" style="position: absolute; top:.5rem; right:.5rem; text-decoration: none;" aria-label="close">🗙</a>

      <style>
        .scenes-container {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          > .scene-line{
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            flex-wrap: nowrap;
            gap: .5rem;
            padding: .5rem;
            margin: 0;
            border-radius: 4px;
            transition: background-color .2s ease;
            &:hover{
              background-color: var(--color-highlight);
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            }
            > a{
              &:first-child{
                flex: 1 1 auto;
                text-overflow: ellipsis;
              }
              align-content: flex-start;
              display: flex;
              font-weight: bolder;
              text-decoration: none;
              &.scene-tool:hover{
                color: var(--color-secondary-light);
              }
            }
          }
        }
      </style>
      <ul class="scenes-container">
        {{#each scenes}}
          {{#if error }}
            <li class="text-error scene-line">
              <span>{{ error }}</span>
              {{#if task_id}}<a class="scene-tool tool-link" href="/ui/tasks/"></a>{{/if}}
            </li>
          {{else}}
            <li class="scene-line">
              <a href="/ui/scenes/{{ encodeURIComponent name }}" class="card-header">
                <span>&nbsp;{{name}}</span>
              </a>
              <a class="scene-tool tool-link" href="/ui/tasks/{{task_id}}">
                <ui-icon name="list"></ui-icon>
                <span class="tool-text">{{i18n "titles.logs"}}</span>
              </a>
              <a class="scene-tool tool-link" href="/ui/scenes/{{ encodeURIComponent name }}/view" >
                <ui-icon name="eye"></ui-icon>
                <span class="tool-text">{{i18n "labels.view"}}</span>
              </a>
              {{#if (test type "==" "voyager")}}
                <a class="scene-tool tool-link" href="/ui/scenes/{{ encodeURIComponent name }}/edit">
                  <ui-icon name="edit"></ui-icon>
                  <span class="tool-text">{{i18n "labels.edit"}}</span>
                </a>
              {{/if}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </section>

  {{/if}}
  <section class="container">
    <upload-manager class="form-control">

      <h3 slot="title" id="upload-form-title" class="form-title">{{i18n "titles.createOrUpdateScene"}}</h3>

      <span slot="drop-label">{{i18n "labels.selectFile_s"}}</span>

      <div slot="upload-lead">
        <p>{{i18n "leads.uploadFiles"}}</p>
        <aside class="help-block">
          <ui-icon name="info"></ui-icon>
          <div class="help-block-content">
            <h4>{{i18n "onboarding.upload.title"}}</h4>
            <p>{{{i18n "onboarding.upload.lead"}}}</p>
            <a href="https://ecorpus.eu/{{lang}}/doc/tutorials/import.html">{{i18n "onboarding.import.link"}} →</a>
          </div>
        </aside>
      </div>

      <p slot="mixed-content-warning">{{i18n "leads.uploadMixedContent"}}</p>

      <form slot="upload-form" class="form-control form-grid" aria-labelledby="upload-form-title">
        <div class="form-row">

          <div class="form-group">
            <div class="form-item">
              <label for="sceneName">
                {{i18n "labels.sceneName"}}
                {{#> popover id="sceneName-tooltip"}}{{i18n "leads.uploadName" }}{{/popover}}
              </label>
              <input id="sceneName" autocomplete="off" minlength="3" type="text" name="name">
            </div>
          </div>

          <div class="form-group">
            <div class="form-item">
              <label for="sceneSetupLanguage">
                {{i18n "labels.setupLocalization"}}
                {{#> popover id="sceneSetupLanguage-tooltip" }}{{i18n "leads.uploadLanguage" }}{{/popover}}
              </label>
              <select name="language" id="sceneSetupLanguage" >
                {{#each languages}}
                <option {{#if selected}}selected{{/if}} value="{{code}}">{{i18n key}}</option>
                {{/each}}
              </select>
            </div>
          </div>

        </div>

        <div class="form-row">
          <h4>{{i18n "titles.advancedConfiguration"}}</h4>
          <div class="form-item inline" style="justify-content: end;">
            <label for="sceneOptimize">
              {{i18n "labels.optimizeModel"}}
            {{#> popover id="sceneOptimize-tooltip" }}{{i18n "leads.uploadOptimize" }}{{/popover}}
            </label>
            <input id="sceneOptimize" type="checkbox" name="optimize"/>
          </div>
        </div>



      </form>

      <button slot="submit-scenes" role="submit" class="btn btn-main">{{i18n "buttons.uploadScene"}}</button>
      <button slot="submit-archives" role="submit" class="btn btn-main">{{i18n "buttons.uploadArchive"}}</button>
      <span slot="upload-errors">{{i18n "leads.uploadErrors"}}</span>
    </upload-manager>

  </section>
</div>
