
<h1>{{i18n "titles.tasks"}}</h1>
<div class="users-list" style="position:relative;">
  <table class="list-table">
    <thead><tr>
      <th class="sm-hidden">{{i18n "fields.ctime"}}</th>
      <th>{{i18n "fields.scene"}}</th>
      <th>{{i18n "fields.author"}}</th>
      <th>{{i18n "fields.taskType"}}</th>
      <th>{{i18n "fields.taskStatus"}}</th>
      <th></th>
    </tr></thead>
    <tbody>
      {{#unless tasks.length}}
        <tr><td colspan=5 style="text-align: center;">{{i18n "leads.noTasks"}}</td></tr>
      {{/unless}}
      {{#each tasks}}
        <tr>
          <td class="sm-hidden">{{dateString ctime}}</td>
          <td>{{scene_name}}</td>
          <td>{{author}}</td>
          <td><a href="/ui/scenes/{{encodeURIComponent scene_name}}/tasks/{{ task_id }}">{{type}} #{{ task_id }}</a></td>
          <td><span class="task-status task-{{ groupStatus }}">{{ groupStatus }}</span></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>