<!DOCTYPE html>
<html>
  <head>
    {{> head }}

    <link rel="stylesheet" href="/dist/css/theme.css">
    <link rel="stylesheet" href="/dist/css/corpus.css">

  </head>
  <body>
  {{> navbar }}
  <main class="tabs-main admin-panel">
    <nav class="admin-nav">
      {{#navLink "/ui/admin/" "exact"}}<ui-icon name="tools"></ui-icon> {{i18n "nav.adminRecap"}}{{/navLink}}
      {{#navLink "/ui/admin/users" "exact"}}<ui-icon name="users"></ui-icon> {{i18n "nav.adminUsers"}}{{/navLink}}
      {{#navLink "/ui/admin/groups" "exact"}}<ui-icon name="groups" style="display:flex"></ui-icon> {{i18n "nav.adminGroups"}}{{/navLink}}
      {{#if (test user.level "==" "admin")}}
        {{#navLink "/ui/admin/stats" "exact"}}<ui-icon name="stats"></ui-icon> {{i18n "nav.adminStats"}}{{/navLink}}
        {{#navLink "/ui/admin/archives" "exact"}}<ui-icon name="folder"></ui-icon> {{i18n "nav.adminArchives"}}{{/navLink}}
      {{/if}}
    </nav>
    <section>
      {{{body}}}
    </section>
  </main>
  {{> footer }}
  <script src="/dist/js/corpus.js"></script>

  </body>
</html>