{{#> main }}
  <h1 class="grid-header">{{i18n "titles.adminHome"}}</h1>
  <div class="grid-toolbar">
    <nav>
      {{#navLink "/ui/admin/" "exact"}}<ui-icon name="tools"></ui-icon> <span>{{i18n "nav.summary"}}</span>{{/navLink}}
      {{#navLink "/ui/admin/users" "exact"}}<ui-icon name="users"></ui-icon><span>{{i18n "nav.adminUsers"}}</span>{{/navLink}}
      {{#navLink "/ui/admin/groups" "exact"}}<ui-icon name="groups" style="display:flex"></ui-icon> <span>{{i18n "nav.adminGroups"}}</span>{{/navLink}}
      {{#if (test user.level "==" "admin")}}
        {{#navLink "/ui/admin/stats" "exact"}}<ui-icon name="stats"></ui-icon> <span>{{i18n "nav.adminStats"}}</span>{{/navLink}}
        {{#navLink "/ui/admin/archives" "exact"}}<ui-icon name="folder"></ui-icon> <span>{{i18n "nav.adminArchives"}}</span>{{/navLink}}
        {{#navLink "/ui/admin/tasks" "exact"}}<ui-icon name="tools"></ui-icon> <span>{{i18n "nav.tasks"}}</span>{{/navLink}}
      {{/if}}
    </nav>
  </div>
  <div class="grid-content">
    {{{body}}}
  </div>
{{/main}}