{{#> main }}
  <h1 class="grid-header"><a style="text-decoration: none;" href="/ui/scenes/{{encodeURIComponent scene.name}}">{{scene.name}}</a></h1>
  <div class="grid-toolbar">
    <section>
      {{#if scene.archived}}
        <span class="flush">
      {{else}}
        <a class="flush" href="{{#if (test scene.type "==" "voyager")}}/ui/scenes/{{encodeURIComponent scene.name}}/view{{else if (test scene.type "==" "html")}}/scenes/{{encodeURIComponent scene.name}}/index.html{{else}}#{{/if}}">
      {{/if}} 
        {{#if scene.thumb }}
          <img style="max-width:300px; margin: 0 auto" aria-label="{{i18n "titles.sceneThumb" what=scene.name }}" src="{{scene.thumb}}" alt="{{i18n "leads.thumbnailFor" what=scene.name }}"/>
        {{else}}
          <img style="max-width:300px; margin: 0 auto;background:radial-gradient(circle, var(--color-secondary) 0, var(--color-highlight) 100%);" src="/dist/images/defaultSprite.svg" />
        {{/if}}
      {{#if scene.archived}}
        </span>
      {{else}}
        </a>
      {{/if}}
    </section>

    {{#if (test access "!=" "read")}}
      <section class="section-column">
        <nav style="display:flex; flex-direction: column; gap: 5px;">
          {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name)) "exact"}}
            <ui-icon name="info"></ui-icon> {{i18n "nav.overview" default="Overview"}}
          {{/navLink}}
          {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/history")}}
            <ui-icon name="hierarchy"></ui-icon> {{i18n "buttons.history"}}
          {{/navLink}}
          {{#if (test access "==" "admin")}}
            {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/tasks")}}
              <ui-icon name="list"></ui-icon> {{i18n "nav.tasks" default="Tasks"}}
            {{/navLink}}
            {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/settings")}}
              <ui-icon name="tools"></ui-icon> {{i18n "nav.settings" default="Settings"}}
            {{/navLink}}
          {{/if}}
        </nav>
      </section>
    {{/if}}
  </div>
  <div class="grid-content">
    {{{body}}}
  </div>
{{/main}}
