{{#> main }}
  <h1 class="grid-header"><a style="text-decoration: none;" href="/ui/scenes/{{encodeURIComponent scene.name}}">{{scene.name}}</a></h1>
  <div class="grid-toolbar">
    <nav>

      {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/") "exact"}}
        <ui-icon name="info"></ui-icon> {{i18n "nav.overview"}}
      {{/navLink}}

      <div class="divider"></div>

      {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/view") "exact"}}
        <ui-icon name="eye"></ui-icon>
        <span style="flex-grow: 1">{{i18n "labels.view"}}</span>
        {{#if (test scene.type "==" "voyager") }}<span aria-hidden="true"  title="Voyager-explorer"><ui-icon name="arrow-out"></span>{{/if}}
      {{/navLink}}
      {{#if (test (accessLevel access "write") "&&" scene.type "==" "voyager")}}
        {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/edit") "exact"}}
          <ui-icon name="edit"></ui-icon>
          <span style="flex-grow: 1">
            {{i18n "labels.edit"}}
          </span>
          <span aria-hidden="true" title="Voyager-story"><ui-icon name="arrow-out"></span>
        {{/navLink}}
      {{/if}}
      
      <div class="divider"></div>
      {{#if (accessLevel access "write")}}
        {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/history")}}
          <ui-icon name="hierarchy"></ui-icon> {{i18n "buttons.history"}}
        {{/navLink}}
      {{/if}}

      {{#if (accessLevel access "admin")}}
        {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/tasks")}}
          <ui-icon name="list"></ui-icon> {{i18n "nav.tasks"}}
        {{/navLink}}
        {{#navLink (join "/ui/scenes/" (encodeURIComponent scene.name) "/settings")}}
          <ui-icon name="tools"></ui-icon> {{i18n "nav.settings"}}
        {{/navLink}}
      {{/if}}
    </nav>
  </div>
  <div class="grid-content">
    {{{body}}}
  </div>
{{/main}}
