<!DOCTYPE html>
<html>
  <head>
    {{> head }}

    <link rel="stylesheet" href="/dist/css/theme.css">
    <link rel="stylesheet" href="/dist/css/corpus.css">

  </head>
  <body>
    {{> navbar }}
    <main class="admin-panel">
      <h1>{{i18n "titles.userSettings"}}</h1>
      <div class="tabs-main">
        <nav class="">
          {{#navLink "/ui/user" "exact"}}<ui-icon name="users"></ui-icon> {{i18n "nav.userSettings"}}{{/navLink}}
          {{#navLink "/ui/user/groups" "exact"}}<ui-icon name="groups"></ui-icon> {{i18n "nav.userGroups"}}{{/navLink}}
          {{#navLink "/ui/user/archives" "exact"}}<ui-icon name="folder" style="display:flex"></ui-icon> {{i18n "nav.userArchives"}}{{/navLink}}
        </nav>
        <section>
          {{{body}}}
        </section>
      </div>
    </main>
    {{> footer }}
    <script src="/dist/js/corpus.js"></script>
  </body>
</html>
